.title {
  text-align: center;
  color: #00cec9;
  font-size: 50px;
}

.form {
  border-radius: 5px;
  padding: 40px;
  margin: 20px;
  align-items: center;
}

.input-form {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border: none;
  border-radius: 50px;
}

.btn-form {
  width: 80%;
  background-color: #00cec9;
  color: #fff;
  font-weight: bold;
  padding: 10px 10px;
  margin: 8px 0;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  border: none;
}

.card {
  transition: 0.3s;
  border-radius: 10px;
  width: 80%;
  cursor: pointer;
  margin: 20px;
  float: left;
  background-color: #dfe6e9;
  color: #2c3a47;
}

.card:hover {
  box-shadow: 0 8px 16px 0 #dfe6e9;
}

.btn-delete {
  width: 30%;
  background-color: #ff7979;
  color: #fff;
  font-weight: bold;
  padding: 10px 10px;
  margin: 8px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
}

.btn-delete:hover {
  background-color: #eb4d4b;
}

.container {
  padding: 2px 16px;
  align-items: center;
}

.radio-container {
    padding: 2px 16px;
    display: block;
    position: relative;
    font-size: 22px;
    margin-bottom: 12px;
}